<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="items content">
            <form action="/items" method="POST">
                <b>Items: </b></br> 
            <% if (theItems.length > 0) { %>
                <% theItems.forEach(item => { %>
                    <b><%= item.username %></b>
                    <a href="/items/<%=item._id%>/edit?username=<%=item.id%>&description=<%=item.description%>">edit</a>
                    <a href="/items/<%=item._id%>/delete?id=<%=item.id%>">delete</a></br> 
                    <% }) %>
            <% } %>
            </br><label>Add Item:</label></br>
            <label>id:
                <input type="text" id="id" name="id" value="<%= locals.id %>" required>
            </label>
            <label>name:
                <input type="name" id="name" name="name" value="<%= locals.name %>" required>
            </label>
            <label>description:
                <input type="description" id="description" name="description" value="<%= locals.description %>" required>
            </label>
            <label>price:
                <input type="price" id="price" name="price" value="<%= locals.price %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>